.App {
    /* text-align: center; */
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


/* 
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content-title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
}

.content-items {
    /* width: 90%; */
    margin: 0 10vw;
    background: rgba(0, 0, 0, .1);
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-items-item {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    /* align-items: center; */
}

.item-title {
    display: flex;
}

.item-title-name {
    font-size: 30px;
    font-weight: bold;
}

.item-title-go {
    line-height: 1;
    padding: 0 20px;
    background: red;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.item-detail-li {
    font-size: 24px;
}

.item-product {
    
}

.item-img {
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 100px;
    margin-right: 50px;
}